$bg-color: yellow;
$border-color: #2d292938;

.app {
  display: flex;
  //flex-direction: column;
  align-items: center;
  font-family: helvetica, arial, sans-serif;
  padding: 1em;
  border: 1px solid $border-color;

  p {
    background-color: $bg-color;
  }
}
